.header {
  display: flex;
  min-width: 320px;
  width: 100%;
  height: 56px;
  margin: 28px auto 0;
  border-bottom: 1px solid rgb(84, 84, 84, .7);
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 581px;
    height: 74px;
    margin-top: 45px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 880px;
  }
}
