.pop-up__close-btn {
  margin-bottom: 16px;
  min-width: 20px;
  min-height: 20px;
  padding: 0;
  background: url(../../../images/icons/close-icon.svg) no-repeat center / cover;
  border: none;
  align-self: flex-end;
}

@media screen and (min-width: 1280px) {
  .pop-up__close-btn {
    margin-bottom: 8px;
    max-width: 32px;
    max-height: 32px;
  }
}
